/* Calculator.css */
.calculator-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.form-container {
  flex: 2;
  order: 1;
}

.dashboard-container {
  flex: 3;
  order: 2;
}

@media (max-width: 768px) {
  .calculator-container {
    flex-direction: column;
  }

  .form-container {
    order: 1;
  }

  .dashboard-container {
    order: 2;
  }
}
